{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <title>Error 404 - Página no encontrada</title>
   
</head>
<body>
    <div class="container">
        <div class="icon">💻</div> <!-- Icono de pantalla -->
        <h1>404</h1>
        <p>Lo sentimos, la página que buscas no se encuentra.</p>
        <a href="/" class="button">Volver al Inicio</a>
    </div>
</body>
</html>