{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 502 - Bad Gateway</title>

</head>
<body>
    <div class="container">
        <div class="icon">🚧</div> <!-- Icono de construcción o error -->
        <h1>502</h1>
        <p>Error de Gateway. Estamos trabajando para solucionarlo.</p>
        <a href="/" class="button">Volver al Inicio</a>
    </div>
</body>
</html>