{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>
<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <ion-icon id="cloud" name="cloud-outline"></ion-icon>
                <span>Cloud</span>
            </div>
            
            {% if request.path == '/manage_product/' %}
            <button class="boton">
                <ion-icon name="add-outline"></ion-icon>
                <span>Create new</span>
            </button>
        {% endif %}
        </div>

        <nav class="navegacion">
            <ul>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">
                        <ion-icon name="settings-outline"></ion-icon>
                        <span>Admin Panel</span>
                    </a>
                </li>
                {% endif %}
                <!-- Más elementos del menú... -->
            </ul>
            <ul>
                <li>
                    <a id="inbox" href="#">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Inbox</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="star-outline"></ion-icon>
                        <span>Starred</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="paper-plane-outline"></ion-icon>
                        <span>Sent</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="document-text-outline"></ion-icon>
                        <span>Drafts</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="bookmark-outline"></ion-icon>
                        <span>Important</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="alert-circle-outline"></ion-icon>
                        <span>Spam</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="trash-outline"></ion-icon>
                        <span>Trash</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Drak Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="usuario">
                <img src="/img-user.jpeg" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre">{{user.username}}</span>
                        <span class="email">{{user.email}}</span>
                    </div>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </div>
            </div>
        </div>

    </div>


    <main>
        <!-- Reemplazar 
        <h1>Sidebar</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea commodi laboriosam asperiores illum, aliquam reprehenderit minus omnis expedita quam.</p>

        <div class="container">
            <button  >
                <ion-icon name="eye-outline"></ion-icon>
                <span>View source</span>
            </button>
    
            <button class="btn">
                <ion-icon name="download-outline"></ion-icon>
                <span>Download</span>
                
            </button>
        

        </div>
        Reemplazar -->
    </main>
       


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>