{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Login & Signup Flip Card</title>
</head>

<body>
    <div class="login-box">
        <p>Sign Up</p>

        <!-- Formulario de registro -->
        <form method="POST">
            {% csrf_token %}
            <div class="user-box">
                <input required="" name="username" type="text" value="{{ signup_data.username|default:'' }}">
                <label>Username</label>
            </div>

            <div class="user-box">
                <input required="" name="email" type="email" value="{{ signup_data.email|default:'' }}">
                <label>Email</label>
            </div>

            <div class="user-box">
                <input required="" name="password" type="password" value="{{ signup_data.password|default:'' }}">
                <label>Password</label>
            </div>

            <div class="user-box">
                <input required="" name="confirm_password" type="password" value="{{ signup_data.confirm_password|default:'' }}">
                <label>Confirm Password</label>
            </div>

            <!-- Campo para el código de verificación -->
            {% if messages %}
                {% for message in messages %}
                    {% if "código" in message.message %}
                        <div class="user-box">
                            <input required="" name="verification_code" type="text">
                            <label>Verification Code</label>
                        </div>
                    {% endif %}
                    <p class="message {% if message.level_tag == 'success' %}success{% else %}error{% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}

            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</body>

</html>
