/* Estilo común para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px; /* Esquinas redondeadas en la tabla */
    overflow: hidden; /* Asegura que las celdas no sobresalgan */
}

/* Estilo común para celdas */
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; /* Borde de las celdas */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra pequeña */
}
body table {
    background-color: rgb(219, 219, 219); /* Fondo oscuro para la tabla */
}

/* Filas alternas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para el encabezado de la tabla */
th {
    background-color: #212121;
    color: rgb(237, 237, 237);
}

/* Modo oscuro */
body.dark-mode table {
    background-color: #333; /* Fondo oscuro para la tabla */
}

body.dark-mode th, body.dark-mode td {
    color: #f2f2f2; /* Color de texto claro en modo oscuro */
    border-color: #555; /* Borde más oscuro */
}

body.dark-mode tr:nth-child(even) {
    background-color: #444; /* Color de fondo de filas alternas en modo oscuro */
}

body.dark-mode th {
    background-color: #646464; /* Fondo del encabezado más claro en modo oscuro */
    color: #000000; 
    text-shadow: 0 0 5px white; /* Color de texto negro en el encabezado cuando el modo oscuro está activado */
}

/* Puedes agregar más ajustes para otros elementos según sea necesario */